body{
    overflow-x: hidden;
}
header{
    background-color: red;
    height: 2.6em;
    width: 100vw;
    position: fixed;
    left: 0em;
    top: 0em;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.b_retour{
    background-color: aqua;
    height: 2.6em;
    width: 4em;
}
.b_acc{
    background-color: blue;
    height: 2.6em;
    width: 4em;
}

body{
    background-color: black;
}

h1{
    margin-top: 5em;
    text-align: center;
    font-size: 3em;
    background-color: yellow;
    margin-bottom: 3em;
}

h2{
    color: white;
    text-align: center;
}

.bibliDesc{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
.ens_bibli{
    position: relative;
    width: 1000px;
    height: 562.5px;
    margin-top: 15em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10em;
}
.etagere{
    background-image: url('../images/etagere.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    right: 7em
}
.titreEtagere{
    position: absolute;
    background-color: transparent;
    top: -.25em;
    left: 10em;
}

.description{
    margin-top: 6em;
    border: .1em solid white;
    width: 25em;
    height: 39em;
    position: absolute;
    right: 2em;
    border-radius: 2em;
    cursor: default;
}
.ouvrage1{
    position: relative;
    width: 95%;
    height: 18em;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}
h3{
    font-size: 1.5em;
    text-align: center;
    color: white;
}
.contenu{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
    color: white;
    background-color: transparent;
}
.texte_contenu{
    font-size: 1.2em;
}
.image_ouvrage{
    background-color: transparent;
    width: 95%;
    height: 18em;
    margin-left: auto;
    margin-right: auto;
}

.encadre{
    position: absolute;
}
.enc1{
    position: absolute;
    background-color: transparent;
    width: 2.68em;
    height: 13.7em;
    left: 9.2em;
    bottom: 17.3em;
    cursor: pointer;
}
.encBorder:hover{
    border: .1em solid white;
    transition: .3s;
}
.encBorder:not(:hover){
    /*
    border: .1em solid transparent;
    */
    border: .1em solid transparent;
    transition: .3s;
}

.none{
    display: none;
}
.op0{
    opacity: 0;
    transition: 1.5s;
}
.op1{
    opacity: .8;
    transition: 1.5s;
}

.btnlien{
    width: 6em;
    height: 3em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .7em;
}
.t_btnlien{
    font-size: 1.2em;
    color: white;
    text-decoration: none;
}
.btnlien:hover{
    transition: .5s;
    border: 0.1em solid white;
    opacity: 1;
}
.btnlien:not(:hover){
    transition: .5s;
    border: 0.1em solid white;
    opacity: .3;
}

.t_titreouvrage{
    position: relative; 
    font-size: 1.1em; 
    opacity: .8; 
    z-index: 1;
}




@media (max-width: 767px) {
    .ens_bibli{
        width: 432px; 
        height: 243px;
    }
    .etagere{
        right: 3em
    }
    .enc1{
        width: 1.1em;
        height: 5.85em;
        left: 3.95em;
        bottom: 7.45em;
    }
    .description{
        width: 19em;
        height: 28em;
        right: 2em;
        top: 72em;
    }
    .bibliDesc{
        display: block; 
        margin-bottom: 30em;
    }

    .ouvrage1{
        width: 95%;
        height: 13em;
    }
    h3{
        font-size: 1.2em;
    }
    .contenu{
        width: 90%;
        font-size: 1em;
    }
    .texte_contenu{
        font-size: .8em;
    }
    .image_ouvrage{
        width: 95%;
        height: 13em;
    }

    .btnlien{
        width: 5em;
        height: 2em;
        background-color: black;
    }
    .t_btnlien{
        font-size: .9em;
    }

    body{
        overflow-x: hidden;
    }

    .t_titreouvrage{
        font-size: .6em; 
    }
    .titreEtagere{
        top: -0.3em;
        left: 4.5em;
    }
}

@media (max-width: 767px) and (orientation: landscape) {
/* Vos styles pour les écrans de smartphone en mode paysage ici */
}