body{
    overflow-x: hidden;
    background-color: black;
}

header{
    background-color: red;
    height: 2.6em;
    width: 100vw;
    position: fixed;
    left: 0em;
    top: 0em;
    display: flex;
    justify-content: space-between;
    z-index: 5;
}

.b_retour{
    background-color: aqua;
    height: 2.6em;
    width: 4em;
}
.b_acc{
    background-color: black;
    height: 2.6em;
    width: 4em;
}

.h1{
    margin-top: 5em;
    background-color: yellow;
    text-align: center;
    font-size: 3em;
    margin-bottom: 3em;
}

.ens_resume{
    width: 100vw;
    background-color: black;
    position: relative;
    left: -.5em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}
.imgResume{
    background-color: aqua;
    width: 50vw;
    height: 100%;
    display: flex;
    align-items: center;
}
.imgLivre{
    position: relative;
    left: -40%;
}
.resume{
    background-color: chartreuse;
    width: 50vw;
}
.contenuResume{
    background-color: red;
    width: 90%;
    font-size: 1.5em;
    position: relative;
    left: -30%;
    top: 5%
}

.diapDesc{
    position: relative;
    margin-bottom: 30em;
}
.ens_desc{
    position: relative;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.desc{
    position: relative;
    top: -2em;
    background-color: white;
    opacity: .5;
    width: 94vw;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    border-radius: 0 0 2em 2em;
    overflow: hidden;
}
.h_desc1{
    height: 0em;
    transition: .5s;
}
.h_desc2{
    height: 15em;
    transition: .5s;
}
.diapo{
    border: 0.2em solid rgba(255, 255, 255, 0.763);
    border-radius: 2em;
    height: 17em;
    position: relative;
    width: 95vw;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}
.slides{
    position: relative;
    width: 285vw;
}
.slide{
    position: relative;
    width: 95vw;
    float: left;
    height: 17em;
}
.slide1{
    background-color: transparent;
}
.slide2{
    background-color: transparent;
}
.slide3{
    background-color: transparent;
}

.ens_diapo{
    background-color: transparent;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
}
.b_diap_g{
    position: absolute;
    left: 0.2em;
    width: 2.5em;
    height: 10em;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3;
}
.b_diap_d{
    position: absolute;
    right: 0.2em;
    width: 2.5em;
    height: 10em;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: rotate(180deg);
    z-index: 3;
}

.b_diap_d:hover{
    opacity: 1;
    background-color: transparent;
    transition: .5s;
    transform: rotate(180deg) scale(1.2);
}
.b_diap_d:not(:hover){
    opacity: .3;
    background-color: transparent;
    transition: .5s;
}

.b_diap_g:hover{
    opacity: 1;
    background-color: transparent;
    transition: .5s;
    transform: scale(1.2);
}
.b_diap_g:not(:hover){
    opacity: .3;
    background-color: transparent;
    transition: .5s;
}

.DiapPlus{
    position: absolute;
    right: 3em;
    bottom: .7em;
    width: 3em;
    height: 3em;
    cursor: pointer;
    border-radius: 2em;
}
.DiapPlus:hover{
    background-color: rgba(0, 0, 0, 0.606);
    transition: .5s;
    transform: scale(1.05);
    opacity: 9;
    /*border: 0.1em solid rgba(255, 255, 255, 0.763);*/
}
.DiapPlus:not(:hover){
    background-color: rgba(0, 0, 0, 0.606);
    transition: .5s;
    opacity: .5;
    /*border: 0.1em solid transparent;*/
}

.BtnLireEp{
    border-radius: .8em;
    position: absolute;
    background-color: blueviolet;
    width: 10em;
    height: 3em;
    right: 7em;
    bottom: .7em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.textBtnLireEp{
    font-size: 1.2em;
    background-color: transparent;
    color: white;
    display: inline;
}
.BtnLireEp:hover{
    background-color: rgba(0, 0, 0, 0.606);
    transition: .5s;
    transform: scale(1.05);
    opacity: 1;
    /*border: 0.1em solid rgba(255, 255, 255, 0.763);*/
}
.BtnLireEp:not(:hover){
    background-color: rgba(0, 0, 0, 0.606);
    transition: .5s;
    opacity: .7;
    /*border: 0.1em solid transparent;*/
}

.position{
    background-color: transparent;
    width: 4.2em;
    height: .6em;
    position: absolute;
    display: flex;
    bottom: .7em;
    left: 2em;
    z-index: 3;
}
.pos{
    margin-left: .4em;
    margin-right: .4em;
    background-color: white;
    width: .6em;
    height: .6em;
    border-radius: 5em;
    opacity: .3;
    transform: scale(1);
}
.posact{
    background-color: white;
    transform: scale(1.2);
    opacity: .8;
    transition: 1s;
}

.episode{
    background-color: transparent;
    height: 100%;
    width: 100%;
    display: flex;
}
.EpDesc{
    background-color: blueviolet;
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.EpImg{
    background-color: yellowgreen;
    height: 100%;
    width: 70%
}

.titreEp{
    margin-top: 5em;
    display: flex;
    align-items: center;
    margin-left: 2em;
}
h2{
    font-size: 2em;
    color: white;
}

.btnLire{
    border-radius: .6em;
    margin-left: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12em;
    height: 2.5em;
    font-size: 1.3em;
    cursor: pointer;
}
.btnLire:hover{
    background-color: blueviolet;
    transform: scale(1.05);
    transition: .5s;
}
.btnLire:not(:hover){
    background-color: red;
    transition: .5s;
}
.t_blire{
    background-color: transparent;
    position: relative;
    margin-left: .5em;
}
.arrow{
    display: flex;
    align-items: center;
    background-color: transparent;
}

.TitreHist{
    color: white;
    background-color: black;
    position: absolute;
    font-size: 3em;
}