body{
    overflow-x: hidden;
    background-color: rgb(48, 62, 105);
}

header{
    background-color: rgb(67, 86, 147);
    position: fixed;
    width: 100vw;
    left: 0em;
    top: 0em;
    z-index: 2;
    overflow: hidden;
}

/* Height du header */

.h_header1{
    height: 5em;
    transition: .5s;
}
.h_header2{
    height: 17em;
    transition: .5s;
}

/* Ensemble : pp mascotte renard + bouton menu */

.elem_bouton{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: relative;
    top: .25em;
}

.b_sections_menu{
    height: 4em;
    width: 95vw;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    border-radius: 1em;
}
.b_sections_menu:hover{
    background-color: rgb(79, 99, 163);
    transition: .5s;
}
.b_sections_menu:not(:hover){
    background-color: rgb(71, 90, 153);
    transition: .5s;
}

.texte_header{
    font-size: 2em;
    position: absolute;
    left: 2em;
    text-decoration: none;
    color: white;
}

.bouton_menu{
    width: 4.5em;
    height: 4.5em;
    position: relative;
    right: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .7em;
    cursor: pointer;
}
.bouton_menu:hover{
    background-color: rgb(79, 99, 163);
    transition: .5s;
    transform: scale(1.05);
    opacity: 1;
}
.bouton_menu:not(:hover){
    background-color: transparent;
    transition: .5s;
    opacity: .8;
}

.mini_barre{
    background-color: white;
    width: 3em;
    height: .3em;
    border-radius: 1em;
}
.espace_barre{
    margin-top: .7em;
}

.boutons_gauche{
    display: flex;
}

.mascotte{
    background-image: url('../images/pp\ renard.webp');
    background-size: cover;
    width: 4.5em;
    height: 4.5em;
    border-radius: 10em;
    position: relative;
    left: 1em;
}
.bouton_acc{
    background-image: url('../images/accueil.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    width: 4.5em;
    height: 4.5em;
    position: relative;
    left: 2.5em;
}
.bouton_acc:hover{
    transition: .5s;
    opacity: 1;
    transform: scale(1.05);
}
.bouton_acc:not(:hover){
    transition: .5s;
    opacity: .5;
}

h1{
    background-color: transparent;
    text-align: center;
    font-size: 3em;
    height: 2.5em;
    color: white;
    border-top: .05em solid rgba(255, 255, 255, 0.8);
    border-bottom: .05em solid rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 3em;
}



.none{
    display: none;
}







/* Page d'accueil */

.h2{
    font-size: 2.5em;
    color: white;
    text-decoration: underline;
    position: relative;
    left: 4em;
    font-weight: bold;
    margin-bottom: 2em;
    margin-top: 3em;
}
.text_h2{
    background-color: transparent;
    width: 70%;
    height: 13em;
    margin-left: auto;
    margin-right: auto;
    border: .1em solid white;
    overflow: hidden;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cadre{
    background-color: transparent;
    width: 95%;
    height: 90%;
}
.texte_cadre{
    color: white;
    font-size: 2em;
}

.EnsProfil{
    margin-bottom: 20em;
}


.nouveaute{
    margin-bottom: 20em;
}
.TitreNouv{
    font-size: 2em;
    color: white;
    font-weight: bold;
    position: relative;
    left: 2em;
    margin-bottom: 2em;
}
.pub{
    height: 21em;
    background-color: transparent;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
    border: .15em solid white;
    overflow: hidden;
    position: relative;
}
.imgpub{
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url('../images/bannière\ hist1\ chap1.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
}
.t_imgpub{
    color: white;
    position: absolute;
    font-size: 2em;
    bottom: 0;
    left: 5em;
}
.lien_pub{
    width: 7em;
    height: 3em;
    margin-top: 1.5em;
    position: relative;
    left: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: .8em;
    text-decoration: none;
}
.lien_pub:hover{
    transition: .5s;
    transform: scale(1.05);
    background-color: rgb(107, 130, 204);
    opacity: 1;
}
.lien_pub:not(:hover){
    transition: .5s;
    background-color: rgb(107, 130, 204);
    opacity: .6;
}
.t_lienpub{
    color: white;
    width: 85%;
    height: 85%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}















/* Page Compétences */

h2{
    color: white;
}
.scr1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.BodyComp{
    height: 3400px;
}

.point{
    width: 1.2em;
    height: 1.2em;
    border-radius: 2em;
    position: relative;
    left: 1.3em;
    z-index: 1;
    background-color: rgb(102, 126, 207);
    border: .4em solid rgb(211, 219, 251);
    cursor: pointer;
}
.point:hover{
    transition: .5s;
    transform: scale(1.2);
}
.point:not(:hover){
    transition: .5s;
}
.pointscale{
    transition: .5s;
    transform: scale(1.2);
    background-color: rgb(211, 219, 251);
    border: .4em solid rgb(102, 126, 207);
}
.pointpasscale{
    transition: .5s;
}

.scr{
    width: 100%;
    height: 5em;
    position: relative;
    border-bottom: .1em solid rgba(255, 255, 255, 0.8);
}

.titre{
    background-color: transparent;
    height: 100%;
    width: 70%;
    position: relative;
    left: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: default;
}
.titre1{
    opacity: 1;
    transition: .7s;
}
.titre2{
    opacity: 0;
    transition: .7s;
}
.texte_titre{
    font-size: 1.5em;
    font-weight: bold;
    background-color: transparent;
    width: 90%;
    color: white;
}
.fontsize1_4{
    font-size: 1.4em;
}

.SecComp{
    width: 100%;
    height: 2em;
    position: absolute;
    display: flex;
    align-items: center;
    background-color: transparent;
}
.SC1{
    top: 21%;
}
.SC2{
    top: 38%;
}
.SC3{
    top: 55%;
}
.SC4{
    top: 72%;
}
.SC5{
    top: 89%;
}

.Ens_Comp{
    width: 100%;
    background-color: transparent;
}

.ens_scrollbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    background-color: transparent;
}
.scrollbar_fond{
    height: 100%;
    width: .5em;
    position: absolute;
    background-color: rgb(211, 219, 251);
    left: 2em;
    top: 0;
}
.scrollbar{
    height: 0;
    width: .5em;
    position: absolute;
    background-color: rgb(102, 126, 207);
    left: 2em;
    top: 0;
}

.ContenuComp{
    background-color: rgb(78, 98, 164);
    height: 155em;
    width: 80%;
    position: absolute;
    right: 0;
    border-radius: 2em;
    overflow: hidden;
}
.niveau{
    width: 100%;
    height: 25em;
    position: relative;
}
.niv1{
    background-color: transparent;
}
.niv2{
    background-color: transparent;
}
.niv3{
    background-color: transparent;
}
.niv4{
    background-color: transparent;
}
.niv5{
    background-color: transparent;
}

.TexteComp{
    background-color: transparent;
    width: 96%;
    height: 110%;
    position: relative;
    top: 1.25em;
    margin-left: auto;
    margin-right: auto;
}

.h3{
    font-size: 2.2em;
    font-weight: bold;
    color: white;
    height: 1.5em;
    background-color: transparent;
    display: flex;
    align-items: center;
}
.DescComp{
    background-color: transparent;
    height: calc(100% - 3em);
}
.TDescComp{
    background-color: transparent;
    position: relative;
    top: 2em;
    height: calc(100% - 2em);
    color: white;
    font-size: 1.5em;
}








/* Page Projets */

.section{
    width: 90vw;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 1.5em;
}
.section:hover{
    background-color: rgb(90, 112, 184);
    transition: .5s;
    transform: scale(1.01);
}
.section:not(:hover){
    transition: .5s;
    background-color: rgb(78, 98, 164);
}
.h_section1{
    height: 5em;
    transition: .5s;
}
.h_section2{
    height: 17.5em;
    transition: .5s;
}

.ens_section{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    position: relative;
    top: .5em;
    cursor: pointer;
}

.déroulant{
    position: relative;
    right: 4.5em;
}
.flèche{
    position: absolute;
    background-color: transparent;
    width: 4em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.t_flèche{
    font-size: 2.5em;
}
.rotate0{
    transform: rotate(90deg);
    transition: .5s;
}
.rotate180{
    transform: rotate(0deg);
    transition: .5s;
}


.texte_section{
    background-color: transparent;
    height: 4em;
    position: relative;
    left: .5em;
    width: 75vw;
    display: flex;
    align-items: center;
}
.t_sec{
    position: absolute;
    left: 2em;
    font-size: 2em;
    color: white;
}

/* Sous-sections */

.ens_sous_sec{
    margin-top: 1.5em;
    /*
    background-color: blueviolet;
    */
    height: 11em;
    display: flex;
}

/* Animations montées */

.portfolio{
    margin-bottom: 15em;
}

.onglet{
    background-color: transparent;
    width: 8em;
    margin-left: 1em;
    border-radius: 1em;
    overflow: hidden;
}
.lien_ongl{
    background-color: rgb(0, 0, 0);
    height: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ongl1{
    background-image: url('../images/bande\ de\ film\ vintage.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.ongl2{
    background-image: url('../images/etagere.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 210%;
}

.imglienongl:hover{
    transition: .5s;
    width: 81%;
    height: 81%;
    opacity: .7;
}
.imglienongl:not(:hover){
    width: 78%;
    height: 78%;
    transition: .5s;
    opacity: .3;
}

.t_ongl{
    background-color: rgb(99, 122, 199);
    height: 3em;
    cursor: default;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-top: .1em solid white;
}
.p_ongl{
    font-size: 1em;
    color: white;
}



@media (max-width: 767px) {
    .t_sec{
        left: 2em;
        font-size: 1em;
    }
    .onglet{
        width: 5.5em;
    }
    .lien_ongl{
        height: 6em;
    }
    .t_ongl{
        height: 2em;
    }
    .p_ongl{
        font-size: .8em;
    }    
    .ens_sous_sec{
        height: 8em;
    }
    .bouton_menu{
        right: 1em;
        border-radius: .5em;
        height: 3.5em;
        width: 3.5em;
    }
    .h_header1{
        height: 4em;
    }
    .h_header2{
        height: 14em;
    }
    .mini_barre{
        width: 2.5em;
        height: .25em;
    }
    .espace_barre{
        margin-top: .5em;
    }
    .mascotte{
        width: 3.5em;
        height: 3.5em;
    }
    .bouton_acc{
        width: 3.5em;
        height: 3.5em;
    }
    .b_sections_menu{
        height: 3em;
        width: 95vw;
        margin-top: 1.5em;
    }
    .texte_header{
        font-size: 1.5em;
        left: 2em;
        border-radius: .5em;
    }
    h1{
        font-size: 2em;
    }
    .texte_section{
        height: 4em;
        left: .5em;
        width: 65vw;
    }
    .section{
        border-radius: 1.2em;
    }



    .scr{
        height: 4em;
    }

    .SC1{
        top: 15%;
    }
    .SC2{
        top: 32%;
    }
    .SC3{
        top: 48%;
    }
    .SC4{
        top: 65%;
    }
    .SC5{
        top: 83%;
    }


    .point:hover{
        transition: .5s;
        transform: scale(1.2);
        background-color: rgb(211, 219, 251);
        border: .4em solid rgb(102, 126, 207);
    }
    .point:not(:hover){
        transition: .5s;
    }
    .pointscale{
        transition: .5s;
        transform: scale(1);
        background-color: rgb(102, 126, 207);
        border: .4em solid rgb(211, 219, 251);
    }
    .point{
        width: .8em;
        height: .8em;
        border-radius: 2em;
        left: .65em;
    }
    .scrollbar_fond{
        height: 100%;
        width: .3em;
        position: absolute;
        background-color: rgb(211, 219, 251);
        left: 1.3em;
        top: 0;
    }
    .scrollbar{
        height: 0;
        width: .3em;
        position: absolute;
        background-color: rgb(102, 126, 207);
        left: 1.3em;
        top: 0;
    }
    .texte_titre{
        color: transparent;
    }
    h2{
        font-size: 1.1em;
    }
    .h3{
        font-size: 1.5em;
    }
    
    .TDescComp{
        font-size: 1em;
    }




    .h2{
        font-size: 1.5em;
        left: 1em;
    }
    .text_h2{
        width: 80%;
        height: 10em;
    }
    .texte_cadre{
        font-size: 1em;
    }


    .nouveaute{
        margin-bottom: 20em;
    }
    .TitreNouv{
        font-size: 1.5em;
        left: 1em;
    }
    .pub{
        height: 8em;
        width: 100%;
        border-radius: 1.5em;
    }
    .imgpub{
        background-size: 100%;
    }
    .t_imgpub{
        font-size: 1em;
        left: 2em;
    }
    .lien_pub{
        width: 5.5em;
        height: 2.5em;
        left: 1em;
        border-radius: .7em;
    }
    .t_lienpub{
        font-size: 1em;
    }
    
    
}

@media (max-width: 767px) and (orientation: landscape) {
    
}