header{
    background-color: red;
    position: fixed;
    width: 100vw;
    left: 0em;
    top: 0em;
    z-index: 1;
    overflow: hidden;
}

/* Height du header */

.h_header1{
    height: 5em;
    transition: .5s;
}
.h_header2{
    height: 17em;
    transition: .5s;
}

/* Ensemble : pp mascotte renard + bouton menu */

.elem_bouton{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: relative;
    top: .25em;
}

.b_sections_menu{
    background-color: aqua;
    height: 4em;
    width: 98vw;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.texte_header{
    font-size: 2em;
    position: absolute;
    left: 1em;
    text-decoration: none;
    color: black;
}

.b_men_inv1{
    background-color: transparent;
    width: 4.5em;
    height: 4.5em;
    position: absolute;
    border-radius: .7em;
}
.b_men_inv2{
    background-color: transparent;
    width: 4.5em;
    height: 4.5em;
    position: absolute;
    border-radius: .7em;
}

.bouton_menu{
    width: 4.5em;
    height: 4.5em;
    background-color: blue;
    position: relative;
    right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .7em;
    cursor: pointer;
}
.mini_barre{
    background-color: blanchedalmond;
    width: 3.3em;
    height: .3em;
    border-radius: 1em;
}
.espace_barre{
    margin-top: .7em;
}

.boutons_gauche{
    display: flex;
}

.mascotte{
    background-color: green;
    /*
    background-image: url('../images/pp\ renard.svg');
    */
    background-size: cover;
    width: 4.5em;
    height: 4.5em;
    border-radius: 10em;
    position: relative;
    left: 1em;
}
.bouton_acc{
    background-color: black;
    width: 4.5em;
    height: 4.5em;
    position: relative;
    left: 2.5em;
}

h1{
    margin-top: 5em;
    background-color: yellow;
    text-align: center;
    font-size: 3em;
}



.none{
    display: none;
}


/* Page Projets */

.section{
    background-color: chartreuse;
    width: 90vw;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.h_section1{
    height: 5em;
    transition: .5s;
}
.h_section2{
    height: 17.5em;
    transition: .5s;
}

.ens_section{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    position: relative;
    top: .5em;
}

.déroulant{
    position: relative;
    right: 4.5em;
}
.flèche{
    position: absolute;
    background-color: blue;
    width: 4em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.t_flèche{
    font-size: 2.5em;
}
.rotate0{
    transform: rotate(0deg);
    transition: .5s;
}
.rotate180{
    transform: rotate(90deg);
    transition: .5s;
}

.flèche1{
    position: absolute;
    background-color: transparent;
    width: 4em;
    height: 4em;
    cursor: pointer;
}
.flèche2{
    position: absolute;
    background-color: transparent;
    width: 4em;
    height: 4em;
    cursor: pointer;
}

.texte_section{
    background-color: red;
    height: 4em;
    position: relative;
    left: .5em;
    width: 75vw;
    display: flex;
    align-items: center;
    cursor: default;
}
.t_sec{
    position: absolute;
    left: 2em;
    font-size: 2em;
}

/* Sous-sections */

.ens_sous_sec{
    margin-top: 1.5em;
    background-color: blueviolet;
    height: 11em;
    display: flex;
}

/* Animations montées */

.onglet{
    background-color: burlywood;
    width: 8em;
    margin-left: 1em;
}
.lien_ongl{
    background-color: cadetblue;
    height: 8em;
}
.t_ongl{
    background-color: aqua;
    height: 3em;
    cursor: default;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

