body{

    background-color: black;
}



.overflowY{
    overflow-y: hidden;
}




/* Style Barre de menu */
header{
    background-color: red;
    height: 2.6em;
    width: 100vw;
    position: fixed;
    left: 0em;
    top: 0em;
    display: flex;
    justify-content: space-between;
    z-index: 5;
}

    /* Dans la barre de menu */

        /* Bouton "Retour du menu" */
        .b_retour{
            background-color: aqua;
            height: 2.6em;
            width: 4em;
        }

        /* Bouton "accueil du menu" */
        .b_acc{
            background-color: blue;
            height: 2.6em;
            width: 4em;
        }




/* Gros titre de la page */
.h1{
    margin-top: 5em;
    background-color: yellow;
    text-align: center;
    font-size: 3em;
    margin-bottom: 3em;
}

.contenu{
    height: 26em;
    background-color: rgb(51, 71, 110);
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 20em;
    overflow: hidden;
    border-radius: 2em;
}

.episodes{
    background-color: transparent;
    width: 50%;
    height: 100%;
    /*
    overflow-y: scroll;
    */
    overflow: hidden;
    color: white;
}
.EnsEp{
    display: flex;
    justify-content: center;
    background-color: transparent;
}
.descriptions{
    background-color: transparent;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    border-left: .2em solid white;
    color: white;
}

.ep{
    width: 8em;
    height: 12em;
    background-color: transparent;
    margin-top: .8em;
    margin-bottom: .8em;
    margin-left: .8em;
    margin-right: .8em;
    cursor: pointer;
    border-radius: 1em;
    overflow: hidden;
}
.ep:hover{
    transform: scale(1.05);
    transition: .5s;
    opacity: 1;
}
.ep:not(:hover){
    transition: .5s;
    opacity: .8;
}

.ImgEp{
    background-color: rgb(71, 99, 154);
    height: 80%;
}
.TitreEp{
    border-top: .1em solid rgba(255, 255, 255, 0.811);
    background-color: rgb(71, 99, 154);
    height: 20%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.desc{
    background-color: transparent;
    width: 94%;
    height: 50em;
    margin-top: 3%;
    margin-bottom: 3%;
}

.EnsVideo{
    display: flex;
    height: 20em;
}
.video{
    background-color: transparent;
    width: 12em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.url{
    width: 100%;
    height: 100%;
}
.TitreVideo{
    background-color: red;
    width: calc(100% - 12em);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h2{
    font-size: 2em;
}

.TitreDesc{
    height: 5em;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h4{
    font-size: 1.8em;
}

.ContenuDesc{
    background-color: yellowgreen;
    height: calc(100% - 25em);
    display: flex;
    justify-content: center;
    align-items: center;
}
.TexteDesc{
    width: 95%;
    height: 95%;
    background-color: blue;
    font-size: 1.5em;
}

.op0{
    opacity: 0;
    transition: .5s;
}
.op1{
    opacity: 1;
    transition: .5s;
}

.none{
    display: none;
}


@media (max-width: 767px) {
    .contenu{
        height: 14em;
        border-radius: 1.5em;
    }
    .EnsEp{
        display: block;
    }
    .ep{
        width: 6em;
        height: 9em;
        border-radius: .8em;
    }
    h3{
        font: .1em;
    }
    .descriptions{
        width: 65%;
    }
    .episodes{
        width: 35%;
    }
    .EnsVideo{
        display: block;
        height: 22em;
    }
    .video{
        background-color: transparent;
        width: 8em;
        height: 14em;
        margin-left: auto;
        margin-right: auto;
    }
    .TitreVideo{
        width: 100%;
        height: calc(100% - 14em);
    }
    h2{
        font-size: 1em;
    }
    h4{
        font-size: 1em;
    }
    .TitreDesc{
        height: 3em;
    }
    .TexteDesc{
        font-size: .8em;
    }
    .desc{
        height: 38em;
    }
    .ContenuDesc{
        height: calc(100% - 25em);
    }
    .h1{
        font-size: 2em;
    }

}